<!DOCTYPE html>
<html>
<head>
  <title>Display</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style type="text/css">
    #hh2{
      margin-left: 450px;
    }
    /* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}


/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.form-check{

  margin-left: 30px;
}

  </style>

</head>
<body>
  <div class="alert info">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Note that all the big events are listed above all others. 
</div>

  <div class="container"><h2 align="centre" id="hh2">Earlier Events</h2>
  </div>

  <p><b>Number of events being displayed currently: {{no[0][0]}}/{{tot[0][0]}}</b></p>


  <script type="text/javascript">
  function check_uncheck(){
    var p="check2";
    document.getElementById("check1").checked = false;
    document.getElementById("check1").disabled = true;
    if(document.getElementById("check2").checked==true && document.getElementById("check3").checked==true && document.getElementById("check4").checked==true && document.getElementById("check5").checked==true && document.getElementById("check6").checked==true
    && document.getElementById("check7").checked==true )
    {
      document.getElementById("check1").checked=true;
      document.getElementById("check1").disabled =false;
      document.getElementById(p).checked=false;
      document.getElementById("check3").checked=false;
      document.getElementById("check4").checked=false;
      document.getElementById("check5").checked=false;
      document.getElementById("check6").checked=false;
      document.getElementById("check7").checked=false;

    }
  }
  function check_for_check1(){
    document.getElementById("check1").checked = true;
    alert("All events are already being displayed");
  }

  function filter_disp(){


  }

</script>


  <p><b>Filter events</b></p>
  <form method='POST'>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="All" id="check1" checked="" onclick="check_for_check1()" name="filter_system">
  <label class="form-check-label" for="defaultCheck1">
    All
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="IEEE" id="check2" onclick="check_uncheck()" name="filter_system">
  <label class="form-check-label" for="defaultCheck2">
    IEEE
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Onyx" id="check3" onclick="check_uncheck()" name="filter_system">
  <label class="form-check-label" for="defaultCheck2">
    Onyx
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Force Ikshvaku" id="check4" onclick="check_uncheck()" name="filter_system">
  <label class="form-check-label" for="defaultCheck2">
    Force Ikshvaku
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="ISSA" id="check5" onclick="check_uncheck()" name="filter_system">
  <label class="form-check-label" for="defaultCheck2">
    ISSA
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="UCSP" id="check6" onclick="check_uncheck()" name="filter_system">
  <label class="form-check-label" for="defaultCheck2">
    UCSP
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="NIE" id="check7" onclick="check_uncheck()" name="filter_system">
  <label class="form-check-label" for="defaultCheck2">
    NIE
  </label>
</div>
<div class="form-check">
  <button type="submit" class="btn btn-sm btn-success">Display</button>
</div>
</form>
  



  <div class="table-responsive">
  <table id="tab1" class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Conducted By</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Description</th>
      <th scope="col">Date</th>
      <th scope="col">Big event</th>
      <th scope="col">Feedback </th>
    </tr>
  </thead>
  <tbody>



        {% for row in ev %} 
            <tr id="tab2">
                {% if row[0]=='Onyx' %}
                <th><a href="{{url_for('Onyx')}}">{{row[0]}}</a></th>
                {% else %}
                <th><a href="#">{{row[0]}}</a></th>
                {% endif %}
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td><a href="#">Feedback</a></td>

                
            </tr>
        {% endfor %}
  </tbody>
</table>
</div>
</body>
</html>