<!DOCTYPE html>
<html>
<head>
  <title>Display</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/c8f51b1d79.js"></script>
  <style type="text/css">
    #hh2{
      margin-left: 450px;
    }

    .tab_all{
    	width: 1000px;
    	margin-left: 150px;
    }
    #prof1{
      color: white;
    }
    #logs2{
      color: white;
      text-decoration: none;
    }
  
    .alert{
      margin-left: 350px;
      width: 500px;
      margin-top: 5px;
      border-radius: 12px;
    }


  </style>

</head>
<body>
  <script src="https://kit.fontawesome.com/c88067427f.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Event Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('red_home')}}" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item bg-dark" href="{{url_for('events')}}" style="color: white;">Upcoming</a>
          <a class="dropdown-item bg-dark" href="{{url_for('pevents')}}" style="color: white;">Earlier</a>
        </div>
      </li>
      </li>
            <li class="dropdown" style="margin-top: 0px;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clubs
        </a>

    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton" style="background: black;">
    <a class="dropdown-item bg-dark" href="{{url_for('Onyx')}}" style="color:white;" >Onyx</a>
    <a class="dropdown-item bg-dark" href="{{url_for('IEEE')}}" style="color:white;">IEEE</a>
    <a class="dropdown-item bg-dark" href="{{url_for('ISSA')}}" style="color:white;">ISSA</a>
    <a class="dropdown-item bg-dark" href="{{url_for('UCSP')}}" style="color:white;">UCSP</a>
    <a class="dropdown-item bg-dark" href="{{url_for('force_i')}}" style="color: white;">Force Ikshavaku</a>
  </div>
</li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">


      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="logs2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Profile
        </a>
        <div class="dropdown-menu dropdown-menu-bottom bg-dark">
          <a class="dropdown-item active" href="{{url_for('sevents')}}" style="color: white;">My Events</a>
          <a class="dropdown-item bg-dark" href="{{url_for('settings')}}" style="color: white;">Settings</a>
        </div>
      </div>
      <button class="btn btn-info my-2 my-sm-0" type="submit"><a id="logs2" href="{{url_for('logout')}}">Logout</a></button>
    </form>
  </div>
</nav>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script type="text/javascript">
  Flask.url_for("index")

Flask.url_for("static", {"filename": "jquery.min.js"})

Flask.url_for("api.hello_world", {"param1": 1, "param2": "text"})

Flask.url_for("api.external_link", {"_external": true, "_scheme": "https", "_anchor": "main"}
</script>
<script type="text/javascript">
    function check_mes(){
      var result = confirm("Are you sure? This action cannot be undone.");
if (result) {
    var row_js = {{row}};
    location.href = Flask.url_for('hello', {"nm": row_js[1]});
}
}
  </script>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif %}

  {% endwith %}
  
  <h1 style="margin-left: 500px; font-family: 'Cabin Condensed', sans-serif; text-decoration: underline;">Events you've registered for</h1>

<div style="margin-top: 30px;"><h1 style="margin-left: 570px; font-size: 30px;" style="font-family: 'Cabin Condensed', sans-serif;">Upcoming</h1>
  

  <div class="table-responsive tab_all">
  <table id="tab1" class="table table-bordered table-striped" style="font-family: 'PT Serif', serif;">
    <caption><b>Number of upcoming events you've registered for: {{num_e[0][0]}}</b></caption>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Conducted By</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Description</th>
      <th scope="col" style="width: 110px;">Date</th>
      <th scope="col">Big event</th>
      <th scope="col">Unregister</th>
    </tr>
  </thead>
  <tbody>

        
        {% for row in ev %}
          <tr>

                {% if row[0]=='Onyx' %}
                <th><a href="{{url_for('Onyx')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'IEEE' %}
                <th><a href="{{url_for('IEEE')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'Force Ikshvaku' %}
                <th><a href="{{url_for('force_i')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'ISSA' %}
                <th><a href="{{url_for('ISSA')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'UCSP' %}
                <th><a href="{{url_for('UCSP')}}">{{row[0]}}</a></th>
                {% else %}
                <th><a href="#">{{row[0]}}</a></th>
                {% endif %}
                <td><b>{{row[1]}}</b></td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td><a href="{{url_for('unreg',e__name=row[1])}}">Unregister</a></td>
              <!-- <td><a href="#" onclick="check_mes()">Unregister</a></td> -->

                
            </tr>
        {% endfor %}
  </tbody>
</table>
</div>
</div>
<div style="margin-top: 30px;"><h1 style="margin-left: 570px; font-size: 30px;" style="font-family: 'Cabin Condensed', sans-serif;">Earlier</h1>


<div class="table-responsive tab_all">
  <table id="tab1" class="table table-bordered table-striped" style="font-family: 'PT Serif', serif;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Conducted By</th>
      <th scope="col">Event Name</th>
      <th scope="col">Event Description</th>
      <th scope="col" style="width: 110px;">Date</th>
      <th scope="col">Big event</th>
    </tr>
  </thead>
  <tbody>



        {% for row in ev2 %}
        <!-- Modal -->
 
            <tr id="tab2">
                {% if row[0]=='Onyx' %}
                <th><a href="{{url_for('Onyx')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'IEEE' %}
                <th><a href="{{url_for('IEEE')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'Force Ikshvaku' %}
                <th><a href="{{url_for('force_i')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'ISSA' %}
                <th><a href="{{url_for('ISSA')}}">{{row[0]}}</a></th>
                {% elif row[0] == 'UCSP' %}
                <th><a href="{{url_for('UCSP')}}">{{row[0]}}</a></th>
                {% else %}
                <th><a href="#">{{row[0]}}</a></th>
                {% endif %}
                <td><b>{{row[1]}}</b></td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>

                
            </tr>
        {% endfor %}
  </tbody>
</table>
</div>

</div>



</body>
</html>